# Network Configuration
RPC_URL=https://sepolia.base.org
CHAIN_ID=84532

# On-Chain Deployed Safe & Chapter2Guard Contracts
SAFE_ADDRESS=0x4f712dd78Cb1a504C69CB4f68B82Fddb6b3b1df6
GUARD_ADDRESS=0x9b6023D1B6D3b076C8d999Ba406AE486750ce7d3

# Relayer & Deployer Signer Configuration
RELAYER_PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=

# Database Configuration (PostgreSQL in Docker)
DATABASE_URL="postgresql://chapter2:chapter2_secret@localhost:5433/chapter2_db?schema=public"

# Application Configuration
PORT=3001
